<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="Conexao" value="Data Source=WORKKER01-PC\WORKKER01; Initial Catalog=SumarioDeAlta; User Id=sa; Password=123456;"/>-->
    <add key="Conexao" value="Data Source=WKK-SRV\WKKSRV;Initial Catalog=SumarioDeAlta;Persist Security Info=True;User ID=sa;Password=123456"/>
    <!--<add key="Conexao" value="Data Source=.;Initial Catalog=SumarioDeAlta;Persist Security Info=True;User ID=sa;Password=1234"/>-->
    <add key="Ambiente" value="Teste"/>
  </appSettings>
</configuration>