div.formulario
{
    padding: 25px;
    width: 700px;
}

div.formulario .item-form
{
    display: inline-block;
    float: left;
    padding-bottom: 6px;
}

div.formulario div.item-form input, div.formulario div.item-form select, div.formulario div.item-form textarea
{
    border: solid 1px #eaeaea;
    width: 100%;
    margin: 0px;
    padding: 3px;
}
div.formulario div.item-form input[type='radio'],div.formulario div.item-form input[type='checkbox']
{ border: solid 1px #eaeaea;
    width: 4%;
    margin: 0px;
    padding: 3px;}

div.formulario .item-form > span
{
    display: block;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

div.formulario .item-form .titulo-item
{
    display: block;
    font-weight: bold;
}

div.formulario .inteiro
{
    width: 100%;
}
div.formulario .nove-decimos
{
    width: 90%;
}
div.formulario .oito-nonos
{
    width: 88.88%;
}
div.formulario .sete-oitavos
{
    width: 87.5%;
}
div.formulario .cinco-sextos
{
    width: 83.33%;
}
div.formulario .quatro-quintos
{
    width: 80%;
}
div.formulario .sete-nonos
{
    width: 77.77%;
}
div.formulario .tres-quartos
{
    width: 75%;
}
div.formulario .sete-decimos
{
    width: 70%;
}
div.formulario .dois-tercos
{
    width: 66.66%;
}
div.formulario .cinco-oitavos
{
    width: 62.5%;
}
div.formulario .tres-quintos
{
    width: 60%;
}
div.formulario .cinco-nonos
{
    width: 55.55%;
}
div.formulario .metade
{
    width: 50%;
}
div.formulario .quatro-nonos
{
    width: 44.44%;
}
div.formulario .dois-quintos
{
    width: 38.88%;
}
div.formulario .tres-oitavos
{
    width: 37.5%;
}
div.formulario .terco
{
    width: 33.33%;
}
div.formulario .tres-decimos
{
    width: 30%;
}
div.formulario .quarto
{
    width: 25%;
}
div.formulario .dois-nonos
{
    width: 22.22%;
}
div.formulario .quinto
{
    width: 20%;
}
div.formulario .sexto
{
    width: 16.66%;
}
div.formulario .oitavo
{
    width: 12.5%;
}
div.formulario .nono
{
    width: 11.11%;
}
div.formulario .decimo
{
    width: 10%;
}

.controle-item input, .controle-item select, .controle-item textarea
{
    border: solid 1px;
    padding: 2px;
    width: 100%;
}



