
<div class="formulario" style="background-color: white;">
    <div class="item-form terco">
        <span>Colonização por MDR:</span>    
        <div>
            <input type="radio" name="colonizacao" value="s"/> <span>Sim </span> 
            <input type="radio" name="colonizacao" value="n"/> <span>Não </span>
        </div>
    </div>
      <div class="item-form inteiro"></div>
    <div class="item-form metade">
        <span>Descrição:</span>    
        <div>
           <textarea cols="50" rows="2"></textarea>
        </div>
    </div>
    <div class="item-form inteiro"></div>
   
    <input type="button" value="Salvar" /> 
    <input type="button" value="Cancelar" />

   
   
</div>
