@model SumarioDeAlta.Domain.Entities.Paciente

<div class="formulario" style="background-color: white;">
    <div class="item-form terco">
        <span>EmoTransfusão:</span>    
        <div>
            <input type="radio" name="hemo" value="s"/> <span>Sim </span> 
            <input type="radio" name="hemo" value="n"/> <span>Não </span>
        </div>
    </div>
    <div class="item-form inteiro"></div>
    <div class="item-form terco">
        <span>Reação Transfuncional:</span>    
        <div>
            <input type="radio" name="reacao"  value="s"/> <span>Sim </span> 
            <input type="radio" name="reacao" value="n"/> <span>Não </span>
        </div>
    </div>
    <div class="item-form inteiro"></div>
    <div class="item-form inteiro">
        <span>Tipo:</span>
        <div><input type="checkbox" id="tipo1" value="1"/> <span>Aloimunização eritrocitária</span></div>
        <div><input type="checkbox" id="tipo2" value="2"/> <span>Aloimunização HLA</span> </div>
        <div><input type="checkbox" id="tipo3" value="3"/> <span>Imunomodulação</span></div>
        <div><input type="checkbox" id="tipo4" value="5"/> <span>Lesão pulmonar relacionada a transfusão</span> </div>
        <div><input type="checkbox" id="tipo5" value="5"/> <span>Purpura pós trasnfusional</span> </div>
        <div><input type="checkbox" id="tipo6" value="6"/> <span>Reação Alérgica:leve; moderada; grave</span> </div>
        <div><input type="checkbox" id="tipo7" value="7"/> <span>Reação enxerto x hospedeiro</span></div>
        <div><input type="checkbox" id="tipo8" value="8"/> <span>Reação Febril não hemolítica</span></div>
        <div><input type="checkbox" id="tipo9" value="9"/> <span>Reação Hemolítica Imune</span></div>
    </div>
    <input type="button" value="Salvar" /> 
    <input type="button" value="Cancelar" />
   
</div>

    


